.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
# archive
2020/
# don't need this
form-w4-kolenikov.pdf
# produced by xarnigan
libs/
# data and other binary files
PDB/
AbtLogo2.png
libs
SM616-2021-Census-PDB-exercise_files/
